VITE_AGORA_APP_ID=1e2fb47d80dc44f1bd5e9c654ffe0809
VITE_AGORA_CERTIFICATE=3895f328230740c5be378026991f70c6

# Supabase Configuration
VITE_SUPABASE_URL=https://cxvqbhcrlpedvhvrqddx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_JQPomQaK71IzMmCfGmSs2A_qPSwpxJW
