VITE_AGORA_APP_ID=1e2fb47d80dc44f1bd5e9c654ffe0809
VITE_AGORA_CERTIFICATE=3895f328230740c5be378026991f70c6

# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=
