# Cloudflare RealtimeKit (Beta)
CLOUDFLARE_ACCOUNT_ID=c4420116af108df67eebb3006b804452
CLOUDFLARE_API_TOKEN=cfut_gzNEkUW8oKP8csAQeMlDa5SUGmejLATP7J7P3zdP55504f23
CLOUDFLARE_REALTIME_APP_ID=c11180a0-82b2-4c98-91cf-c946e57f384c


# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=4d65b74dafd19faaae7fcde79a10f020
R2_SECRET_ACCESS_KEY=4f233978c955a46099292e4fcb5823bb32b1a1c8dac011c158f76b4e14bc5ce8
R2_BUCKET_NAME=posts
R2_ENDPOINT=https://c4420116af108df67eebb3006b804452.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-787d908cd4db458da923c4d16758ba46.r2.dev
R2_WORKER_URL=https://little-thunder-1b1c.anastacia6000.workers.dev
VITE_R2_WORKER_URL=https://little-thunder-1b1c.anastacia6000.workers.dev

# Supabase Configuration
VITE_SUPABASE_URL=https://cxvqbhcrlpedvhvrqddx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_JQPomQaK71IzMmCfGmSs2A_qPSwpxJW
VITE_API_URL=https://little-thunder-1b1c.anastacia6000.workers.dev
